services:
  # Public services

  ## OpenCloud

  oc:
    image: opencloudeu/opencloud:latest
    container_name: oc
    hostname: files.${DOMAIN}
    entrypoint:
      - /bin/sh
    # run opencloud init to initialize a configuration file with random secrets
    # it will fail on subsequent runs, because the config file already exists
    # therefore we ignore the error and then start the opencloud server
    command: ["-c", "opencloud init || true; opencloud server"]
    ports:
      - "9200:9200"
    restart: always
    env_file:
      - config/opencloud/env
    extra_hosts:
      - "files.${DOMAIN}:host-gateway"
    volumes:
      - ./config/opencloud/csp.yaml:/etc/opencloud/csp.yaml
      - ./config/opencloud/banned-password-list.txt:/etc/opencloud/banned-password-list.txt
      - oc-config:/etc/opencloud
      - oc-data:/var/lib/opencloud

  ## Gitea

  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    env_file:
      - config/gitea/env
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__SERVER__HTTP_PORT=80
      - GITEA__SERVER__SSH_PORT=2222
      - GITEA__SERVER__SSH_LISTEN_PORT=22
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=gitea-pg:5432
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - GITEA__database__PASSWD=gitea
      - GITEA__server__LFS_START_SERVER=true
      - GITEA__server__LFS_CONTENT_PATH=/data/git/lfs
    restart: always
    ports:
      - "2222:22"
    volumes:
      - gitea-data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

  gitea-pg:
    image: postgres:14
    container_name: gitea-pg
    restart: always
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=gitea
      - POSTGRES_DB=gitea
    volumes:
      - gitea-pg-data:/var/lib/postgresql/data

  ## Misskey

  mk:
    build: ./remote/misskey
    container_name: mk
    depends_on:
      mk-pg:
        condition: service_healthy
      mk-redis:
        condition: service_healthy
    ports:
      - "3000:3000"
    restart: always
    env_file:
      - config/misskey/env
    volumes:
      - ./data/mk:/misskey/files
      - ./config/misskey:/misskey/.config:ro
  
  mk-pg:
    image: groonga/pgroonga:latest-alpine-15
    container_name: mk-pg
    restart: always
    env_file:
      - config/misskey/env
    healthcheck:
      test: "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"
      interval: 5s
      retries: 20
    volumes:
      - ./data/mk-pg:/var/lib/postgresql/data

  mk-redis:
    image: redis:7-alpine
    container_name: mk-redis
    restart: always
    healthcheck:
      test: "redis-cli ping"
      interval: 5s
      retries: 20
    volumes:
      - ./data/mk-redis:/data

  ## Reverse proxy for public services

  https-portal:
    image: steveltn/https-portal:1
    container_name: https-portal
    ports:
      - "80:80"
      - "443:443"
    restart: always
    environment:
      DOMAINS: >-
        git.${DOMAIN} -> http://gitea,
        misskey.${DOMAIN} -> http://mk:3000,
        files.${DOMAIN} -> http://oc:9200
      STAGE: production
      CLIENT_MAX_BODY_SIZE: 0
      WEBSOCKET: true
      LISTEN_IPV6: true
    volumes:
      - https-portal-data:/var/lib/https-portal

  # Private services

  backup:
    # In production, it is advised to lock your image tag to a proper
    # release version instead of using `latest`.
    # Check https://github.com/offen/docker-volume-backup/releases
    # for a list of available releases.
    image: offen/docker-volume-backup:v2.43.4
    container_name: backup
    restart: always
    env_file: ./config/backup/env # see below for configuration reference
    volumes:
      - ./data/oc/config:/backup/oc-config:ro
      - ./data/oc/data:/backup/oc-data:ro
      - ./data/gitea:/backup/gitea:ro
      - ./data/gitea-pg:/backup/gitea-pg:ro
      - ./data/mk:/backup/mk:ro
      - ./data/mk-pg:/backup/mk-pg:ro

volumes:
  oc-config:
    driver: local
    driver_opts:
      type: none
      device: $PWD/data/oc/config
      o: bind
  oc-data:
    driver: local
    driver_opts:
      type: none
      device: $PWD/data/oc/data
      o: bind
  gitea-data:
    driver: local
    driver_opts:
      type: none
      device: $PWD/data/gitea
      o: bind
  gitea-pg-data:
    driver: local
    driver_opts:
      type: none
      device: $PWD/data/gitea-pg
      o: bind
  https-portal-data:
