SMTP_AUTHTYPE=LOGIN
SMTP_SECURE=tls
SMTP_HOST=example.com
SMTP_PORT=587
SMTP_NAME=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SMTP_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# nextcloud mail settings
MAIL_FROM_ADDRESS=noreply
MAIL_DOMAIN=example.net