# misc
PHP_MEMORY_LIMIT: 2G
PHP_UPLOAD_LIMIT: 16G
CLIENT_MAX_BODY_SIZE: 0
POST_MAX_SIZE: 16G
PHP_UPLOAD_MAX_FILESIZE: 16G
POP_POST_MAX_SIZE: 16G
APACHE_BODY_LIMIT: 0

# S3
OBJECTSTORE_S3_HOST=s3.ex-example-1.example.com
OBJECTSTORE_S3_REGION=ex-example-1
OBJECTSTORE_S3_BUCKET=example
OBJECTSTORE_S3_KEY=XXXXXXXXXXXXXXXXXXXX
OBJECTSTORE_S3_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OBJECTSTORE_S3_PORT=443
OBJECTSTORE_S3_SSL=true