GITEA__SERVICE__REGISTER_EMAIL_CONFIRM=true
GITEA__SERVICE__REGISTER_MANUAL_CONFIRM=true
GITEA__SERVICE__DISABLE_REGISTRATION=true

GITEA__STORAGE__STORAGE_TYPE=minio
GITEA__STORAGE__MINIO_ENDPOINT=s3.ex-example-1.example.com
GITEA__STORAGE__MINIO_LOCATION=ex-example-1
GITEA__STORAGE__MINIO_BUCKET=example
GITEA__STORAGE__MINIO_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXX
GITEA__STORAGE__MINIO_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GITEA__STORAGE__MINIO_USE_SSL=true
GITEA__STORAGE__MINIO_CHECKSUM_ALGORITHM=md5

GITEA__mailer__ENABLED=true
GITEA__mailer__FROM=noreply@example.com
GITEA__mailer__PROTOCOL=smtps
GITEA__mailer__SMTP_ADDR=example.com
GITEA__mailer__SMTP_PORT=587
GITEA__mailer__USER=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GITEA__mailer__PASSWD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
